@{
    ViewData["Title"] = "Fancy";
}

<div class="text-center">
    <h1 class="display-4">This is Fancy but often broken</h1>
    <h2><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Fancy">Try again to produce Error</a></h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
